.img-a 
  display: block
  margin: auto

.img-t
  width: auto
  height: auto    

.bg-1
  background-color: #FACBA8  
  border-left: 12px solid white
  border-right: 12px solid white

.hr
  border-bottom: 5px solid #FF6B00  

.bg-2
  background-color: #FACBA8    

.list 
  width: 100%
  display: flex !important
  &__item 
    &__bulletNumber 
      position: relative
      width: 30px
      height: 30px
      margin-right: 1rem
      text-align: center
      border-radius: 50%
      background-color: #6393DB
      span 
        color: white
        font-weight: 700
        font-size: small
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
      
    
    &__number 
      position: relative
      margin-right: 1rem
      span 
        color:orange
        font-size: 15pt
        font-weight: 700
        line-height: 1.2
      
    
    &__icon 
      position: relative
      width: 10px
      margin-right: 0.65rem
      margin-top: 4px
      img 
        width: 10px
        vertical-align: middle
      
    
  
  &__txt 
    p:first-child,
    h3:first-child 
      margin-top: 0px

.m-top      
  margin-top: -4px !important 

.hr-dotted
  border-bottom-style: dotted
  border-bottom-width: 2px
  border-color: #AFAFAF

.bg-tarjeta-1
  background-color: #EE9050 !important

.bg-tarjeta-2
  background-color: #FFBF3D !important

.lista-ol--cuadro__vineta
    background-color: #FF6B00


.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #ffae0d42 !important

.linea-tiempo-d__item__content__title
  background-color:   #F6F6F6 !important

.linea-tiempo-d__item__content__slot    
  background-color: #ffae0d42 !important
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title  
  background-color: #ffae0d42 !important  

.bg-nav
  background-color: lighten(#FFAF0D,40) !important

.tabs-a__tab
  background-color: #FEF5EE !important  

.tabs-a.color-acento-botones .tabs-a__tab__selected
  background-color: #FF6B00 !important
  color: #fff !important    

.tabs-a.color-acento-botones .tabs-a__tab:hover
  background-color: #FF6B00 !important


.beat:hover 
  animation: beat 1.0s
  animation-iteration-count: infinite

@keyframes beat 
  0%  {transform: scale(1.0)}
  10%  {transform: scale(1.1)}
  20%  {transform: scale(1.2)}
  30%  {transform: scale(1.1)}
  40%  {transform: scale(1.2)}
  50%  {scale: (1.0)}
  60%  {scale: scale(1.1)}
  70%  {scale: scale(1.2)}
  80%  {scale: scale(1.1)}
  90%  {scale: scale(1.2)}

.yoyo:hover
  animation-name: yoyo
  animation-duration: 2.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate


@keyframes yoyo
  0%{transform: translatey(0px)}    
  50%{transform: translatey(-10px)}
  100%{transform: translatey(0px)}


.swing:hover
  animation-name: swing
  animation-duration: 3.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate

@keyframes swing
  0%{transform: translatex(0px)}    
  50%{transform: translatex(-10px)}
  100%{transform: translatex(0px)}

